/*
**************************************************************************
  ▢ 작성일자: 2025. 11. 11.(화)
  ▢ 파일명: Expense.module.css
  ▢ 내용: 지출관리 대시보드(/expense/page.js) 컴포넌트에 적용되는 스타일
  ▢ 작성자: 박수훈(shpark)
**************************************************************************
*/
