/*
**********************************************************************************************************************************************
  ▢ 작성일자: 2025. 11. 21.(금)
  ▢ 파일명: /styles/Settings.module.css
  ▢ 내용: 설정(/settings/page.js) css 스타일
  ▢ 작성자: 박수훈(shpark)
**********************************************************************************************************************************************
*/
